/node_modules
/public/hot
/public/filemanager
/public/storage
/public/error_log
/storage/*.key
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
error_log
.ftpquota
/.idea
/.vscode
